.carreras-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.carreras-carreras {
  width: 100%;
  height: 2115px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.carreras-text10 {
  top: 857px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text11 {
  top: 164px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-copy1 {
  gap: 24px;
  top: 327px;
  left: 834px;
  width: 515px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text13 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text15 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-button {
  gap: 8px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
 
.carreras-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.carreras-image1 {
  top: 327px;
  left: 80px;
  width: 625px;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image8 {
  top: 0px;
  left: -287px;
  width: 1200px;
  height: 780px;
  position: absolute;
}
 
.carreras-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 164px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.carreras-items {
  gap: 48px;
  top: 56px;
  left: 793px;
  width: 459px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
 
.carreras-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text19 {
  color: rgba(30, 48, 205, 1);
  width: 83px;
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text21 {
  top: 67px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.carreras-image2 {
  top: 33px;
  left: 1319px;
  width: 90px;
  height: 90px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
 
.carreras-navigation-footer {
  top: 1851px;
  left: 0px;
  width: 1440px;
  height: 264px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.carreras-text22 {
  top: 52px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 150%;
}
 
.carreras-social-icons {
  gap: 8px;
  top: 176px;
  left: 80px;
  width: 184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.carreras-buttons-icon1 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.carreras-icon1 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.carreras-icon2 {
  top: 2.0399999618530273px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.carreras-buttons-icon2 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.carreras-icon3 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.carreras-icon4 {
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  position: absolute;
}
 
.carreras-buttons-icon3 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.carreras-icon5 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.carreras-icon6 {
  top: 5px;
  left: 2px;
  width: 20px;
  height: 14px;
  position: absolute;
}
 
.carreras-buttons-icon4 {
  gap: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 8px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
}
 
.carreras-icon7 {
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.carreras-icon8 {
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.carreras-divider {
  top: 1px;
  left: 80px;
  width: 1280px;
  height: 1px;
  position: absolute;
  align-self: stretch;
}
 
.carreras-cardgrid {
  gap: 32px;
  top: 937px;
  left: 80px;
  width: 1282px;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.carreras-card1 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image3 {
  width: 404px;
  height: 202px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image11 {
  top: -281px;
  left: -398px;
  width: 1200px;
  height: 800px;
  position: absolute;
}
 
.carreras-copy2 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text24 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text25 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-card2 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image4 {
  width: 404px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(247, 247, 247, 1);
}
 
.carreras-image5 {
  top: -27px;
  left: -188px;
  width: 780px;
  height: 470px;
  position: absolute;
}
 
.carreras-copy3 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text27 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-card3 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image6 {
  width: 404px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image10 {
  top: -116px;
  left: -188px;
  width: 780px;
  height: 470px;
  position: absolute;
}
 
.carreras-copy4 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text30 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-card4 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image7 {
  width: 404px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image12 {
  top: 0px;
  left: -278px;
  width: 960px;
  height: 638px;
  position: absolute;
}
 
.carreras-copy5 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text33 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-card5 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image9 {
  width: 404px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image13 {
  top: -91px;
  left: -113px;
  width: 630px;
  height: 420px;
  position: absolute;
}
 
.carreras-copy6 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text36 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-card6 {
  gap: 24px;
  width: 404px;
  height: 366px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.carreras-image15 {
  width: 404px;
  height: 208px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.20000000298023224);
}
 
.carreras-image14 {
  top: -21px;
  left: -8px;
  width: 420px;
  height: 280px;
  position: absolute;
}
 
.carreras-copy7 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.carreras-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.carreras-text39 {
  color: rgba(130, 130, 130, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.carreras-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}


