body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

header .text-lg {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

main {
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

a:hover {
  color: aqua;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 26px;
}

button:hover {
  background-color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 10%;
}

section {
  margin-bottom: 40px;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-cols-1 {
  grid-template-columns: 1fr;
}

.md\:grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.border {
  border: 1px solid #ddd;
}

.p-4 {
  padding: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.text-xl {
  font-size: 1.25em;
}

.font-bold {
  font-weight: bold;
}

.contain-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
