/* Estilos para el paginador */
.pagination-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination-container button {
    min-width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.pagination-container button:hover:not(:disabled) {
    background-color: #f3f4f6;
    transform: translateY(-1px);
}

.pagination-container button:disabled {
    cursor: not-allowed;
}

.pagination-container span {
    display: flex;
    align-items: flex-end;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}