<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="icon" href="assets/img/icon.ico" type="image/x-icon">
    <title>Carreras</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index.html">
                        <div class="contain-logo">
                            <img class="logo" src="assets/img/icon-black.jpg" alt="icono">
                            <h2>Running Web</h1>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="eventos.html">
                        Eventos
                    </a>
                </li>
                <li>
                    <a href="carreras.html">
                        Carreras
                    </a>
                </li>
                <li>
                    <a href="#">
                        Productos
                    </a>
                </li>
            </ul>
            <div class="profile-image">
                <a href="runner.html"><img src="assets/img/milei.png" alt="Perfil"></a>
            </div>
        </nav>
    </header>
    <div>
        <h1 id="ts">
            Carreras
        </h1>
    </div>
    <section>
        <div class="event-card" id="carrera-destacada">
            </div>
    </section>
    <h2 id="ts">
        Mas carreras
    </h2>
    <section>
        <div class="contenedor">
            </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script type="module" src="js/carreras.js"></script>
        </section>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h3>Running web</h3>
            </div>
            <div class="footer-links">
                <div class="footer-section">
                    <h4>Contacto</h4>
                    <ul>
                        <li>Email: info@runningweb.com</li>
                        <li>Teléfono: +123 456 7890</li>
                        <li>Dirección: Calle Corredores 123</li>
                    </ul>
                </div>
            </div>
            <div class="footer-social">
                <h4>Síguenos</h4>
                <div class="social-icons">
                    <a href="#"><i class="facebook-icon"></i></a>
                    <a href="#"><i class="linkedin-icon"></i></a>
                    <a href="#"><i class="youtube-icon"></i></a>
                    <a href="#"><i class="instagram-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Running web. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>