<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/detalles.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="icon" href="assets/img/icon.ico" type="image/x-icon">
    <title>Detalles carrera</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="index.html">
                        Running Web
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="eventos.html">
                        Eventos
                    </a>
                </li>
                <li>
                    <a href="carreras.html">
                        Carreras
                    </a>
                </li>
                <li>
                    <a href="#">
                        Productos
                    </a>
                </li>
            </ul>

            <div class="profile-image">
                <img src="assets/img/milei.png" alt="Perfil">
            </div>
        </nav>
    </header>
    <div>
        <h1 id="ts">
            Carreras
        </h1>
    </div>
    <section>
        <div class="event-card">
            <img src="assets/img/runner1.png" alt="Corredores en una carrera">
            <div class="event-info">
                <h2 id="titulo">Desafío Runner 8K</h2>
                <p class="status">Próximo</p>
                <strong class="date">15/03/2025</strong>
                <p class="description">
                    Descubre la emoción de correr y lleva tu pasión al siguiente nivel. Únete a Chibolo team y vive una
                    experiencia única llena de energía, desafío y comunidad. No importa si eres principiante o corredor...
                </p>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="header">
            <p class="sponsor">Patrocinador: </p>
        </div>
        <div class="details">
            </div>

        <div class="weather">
            <h2>Pronóstico de clima</h2>
            <div class="forecast">
                <p>Soleado 33° C</p>
            </div>
        </div>

        <div class="action">
            <button class="participate-btn">Participar</button>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <h3>Running web</h3>
            </div>
            <div class="footer-links">

                <div class="footer-section">
                    <h4>Contacto</h4>
                    <ul>
                        <li>Email: info@runningweb.com</li>
                        <li>Teléfono: +123 456 7890</li>
                        <li>Dirección: Calle Corredores 123</li>
                    </ul>
                </div>
            </div>
            <div class="footer-social">
                <h4>Síguenos</h4>
                <div class="social-icons">
                    <a href="#"><i class="facebook-icon"></i></a>
                    <a href="#"><i class="linkedin-icon"></i></a>
                    <a href="#"><i class="youtube-icon"></i></a>
                    <a href="#"><i class="instagram-icon"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Running web. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script type="module" src="js/detalles.js"></script>
</body>

</html>